# Debian
*.sources eol=lf text

# Docker
Dockerfile eol=lf text

# Git
.gitattributes export-ignore eol=lf text
.gitignore export-ignore eol=lf text

# Markdown
*.md diff=markdown eol=lf text

# PHP
*.ini eol=lf text
